* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.main-section__container {
  width: 100%;
  height: 100vh;
  background-color: #aaa; }
